PORT=5000
# MONGODB_URI=mongodb://127.0.0.1:27017/school_erp
MONGO_URI=mongodb+srv://school_ERP:virgZR4OqJGbXT0b@cluster0.vcq1xjm.mongodb.net/school_erp?retryWrites=true&w=majority
JWT_ACCESS_SECRET=replace_with_secure_access_secret
JWT_REFRESH_SECRET=replace_with_secure_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
